caption {
	padding: 3%;
	font-size: 1.5em;
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: separate;
	border-left: solid gray 1px;
	border-right: solid gray 1px;
	border-spacing: 0px 5px;
	border-top: solid gray 2px;
	background-color: #FBEFF2;
}

table span {
	font-weight: normal;
}

td {
	text-align: left;
	padding: 5%;
	border-bottom: solid gray 1px;
	width: 33%;
	max-width: 33%;
	min-width: 33%;
}

th {
	text-align: center;
	padding: 5%;
	border-bottom: solid gray 1px;
	width: 10%;
	max-width: 10%;
	min-width: 10%;
}

